<%- include('../partials/header') %>

<div class="host-game">
  <h1>Host Game: <%= quiz.title %></h1>
  
  <div class="game-info">
    <h2>Game PIN: <span class="game-pin"><%= game.pin %></span></h2>
    <p>Share this PIN with your players to join the game!</p>
  </div>
  
  <div class="game-details">
    <p>Questions: <%= quiz.questions.length %></p>
    <p>Players: <span id="player-count">0</span></p>
  </div>
  
  <div class="player-list">
    <h3>Players</h3>
    <ul id="players"></ul>
  </div>
  
  <form action="/game/start/<%= game._id %>" method="POST">
    <button type="submit" class="btn primary" id="start-btn" disabled>Start Game</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>

<%- include('../partials/footer') %>
