<%- include('../partials/header') %>

<div class="game-lobby">
  <h1>Game Lobby</h1>
  
  <div class="game-info">
    <h2><%= quiz.title %></h2>
    <p>Game PIN: <span class="game-pin"><%= game.pin %></span></p>
  </div>
  
  <% if (isHost) { %>
    <div class="player-list">
      <h3>Players (<span id="player-count">0</span>)</h3>
      <ul id="players"></ul>
    </div>
    
    <form action="/game/start/<%= game._id %>" method="POST">
      <button type="submit" class="btn primary" id="start-btn" disabled>Start Game</button>
    </form>
  <% } else if (player) { %>
    <div class="player-waiting">
      <h3>You've joined as <%= player.username %></h3>
      <p>Waiting for the host to start the game...</p>
      
      <div class="loader">
        <div class="spinner"></div>
      </div>
    </div>
  <% } %>
</div>

<script src="/socket.io/socket.io.js"></script>


<%- include('../partials/footer') %>
